@charset "UTF-8";
/* ESTILO GERAL */
/* 1. Cores */
/* 2. Assets */
/* 3. RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 4. FLEXBOX */
.container {
  width: 80%;
  margin: 0 auto;
  font-size: 1em; }

.cabecalho {
  background-color: #fff; }

.cabecalho .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; }

.cabecalho-nav-bar {
  font-weight: normal; }

.cabecalho-nav-bar a {
  font-size: 1.2em;
  opacity: .8;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2em;
  color: #ff6600; }

.cabecalho-nav-bar a:hover {
  opacity: 1; }

.rodape {
  background-color: #9900cc; }

.rodape .container {
  width: 90%;
  height: 90%; }

.rodape-navMap-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 155px; }

.rodape-navMap-list li {
  display: inline-block;
  padding: 4px; }

.rodape a {
  color: #fff;
  margin-top: 0; }

.rodape p {
  color: #fff;
  font-size: .7em;
  margin-top: 0;
  line-height: .4em; }

.rodape h4 {
  color: #fff;
  font-weight: bold; }

.secao {
  display: flex;
  width: 100%;
  background-color: #F2F5F7; }

.secao .container {
  margin-top: 60px;
  margin-bottom: 60px; }

.secao-rodape {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: transparent; }

.conteudo-cartao {
  display: flex;
  background-color: #F2F5F7;
  flex-wrap: wrap; }

.cartao {
  background-color: #fff;
  height: 100px;
  width: 23%;
  text-align: center;
  margin: 1%;
  transition: .3s;
  box-shadow: 1px 1px 1px #CCC;
  position: relative; }

.cartao:nth-child(4n) {
  /* Quarto filho do elemento*/
  margin-right: 0; }

.cartao:nth-child(4n+1) {
  /* Quinto filho do elemento*/
  margin-left: 0; }

.form-contato {
  line-height: 3em;
  display: flex;
  flex-direction: column;
  align-content: center; }

.form-contato .campos {
  display: flex;
  flex-flow: column  wrap;
  border: none;
  margin: 20px; }

.form-contato-botao {
  margin-top: 1em;
  background: #33cc99;
  border: 0;
  padding: .6em;
  font-size: 1.2em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  width: 100%;
  color: #fff;
  cursor: pointer; }

.logo {
  display: block;
  width: 300px;
  height: 192px;
  transform: scale(0.8);
  background-image: url("../img/logo-fundamento@300x192.png");
  background-repeat: no-repeat; }

.logo img {
  max-width: 400px;
  min-width: 100px; }

.logo2 {
  display: none; }

.progress-bar {
  --progresso: 0;
  height: 2px;
  padding: 0px;
  background-color: #fff;
  display: flex; }

.progress-bar::before {
  content: "";
  width: calc(var(--progresso) * 1%);
  background-color: #9900cc;
  transition: all 0.2s ease; }

.menu-abrir,
.menu-fechar {
  background: none;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-size: 1.6em;
  text-indent: -999em;
  cursor: pointer; }

.menu-abrir {
  height: 0;
  width: .75em;
  padding-top: .100em;
  border-top: 0.375em double #9900cc;
  border-bottom: 0.125em solid #9900cc;
  vertical-align: middle;
  margin: 0.5em; }

.menu-fechar {
  position: relative;
  height: 1.8em;
  width: 1em; }

.menu-fechar:before {
  content: '\00D7';
  position: absolute;
  color: #9900cc;
  font-size: 1.4em;
  top: 0;
  bottom: 10px;
  left: 0;
  text-indent: 0; }

@media not all and (max-width: 678px) {
  .menu-abrir,
  .menu-fechar {
    display: none; }

  .menu-abrir,
  .menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em; }

  .menu-abrir {
    height: 0;
    width: .75em;
    padding-top: .125em;
    border-top: 0.375em double #9900cc;
    border-bottom: 0.125em solid #9900cc;
    vertical-align: middle;
    margin: 0.5em; }

  .menu-fechar {
    position: relative;
    height: 1em;
    width: 1em; } }
/* Celulares at├® 678px */
@media (max-width: 678px) {
  .cabecalho {
    position: sticky;
    box-shadow: 0px 1px 15px 0px #CCC;
    top: 0px;
    z-index: 999; }

  .cabecalho .container {
    display: flex;
    align-content: initial;
    justify-content: left; }

  .conteudo-cartao {
    flex-direction: column;
    justify-content: end; }

  .cartao {
    width: auto;
    min-height: 350px;
    margin-bottom: 20px; }

  .secao-rodape {
    height: auto; }

  .logo {
    width: 72px;
    height: 80px;
    background-image: url("../img/fundamento@64.png");
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-position-x: 8px; }

  .logo2 {
    display: block;
    transform: scale(0.8);
    width: 371px;
    height: 80px;
    background-image: url("../img/logo-fundamento@371x64.png");
    background-repeat: no-repeat;
    background-position-y: 8px; }

  .logo img {
    width: 180px; }

  .cabecalho-nav-bar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background: #fff;
    padding: 1em;
    margin: 0;
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out; }

  .cabecalho-nav-bar a {
    margin-top: 20px;
    margin-bottom: 20px; }

  .menu-ativo .cabecalho-nav-bar {
    left: 0; }

  .menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4); }

  #terapias {
    padding-top: 120px; }

  #paiscuidadores {
    padding-top: 120px; }

  #profissionais {
    padding-top: 120px; }

  #contato {
    padding-top: 120px; }

  .rodape-navMap-list {
    height: 400px; } }
/* Tablets menor que 678px */
@media (min-width: 678px) {
  .rodape .container {
    width: 95%; }

  .cabecalho {
    box-shadow: 0px 6px 25px 0px #CCC;
    position: sticky;
    top: 0;
    z-index: 999; }

  .cabecalho-nav-bar {
    display: flex;
    flex-direction: column; }

  .cabecalho-nav-bar a {
    margin-bottom: 10px; }

  .logo img {
    width: 200px; }

  #terapias {
    padding-top: 250px; }

  #paiscuidadores {
    padding-top: 250px; }

  #profissionais {
    padding-top: 250px; }

  #contato {
    padding-top: 250px; } }
/* Mobile menor que 1000px */
@media (min-width: 1000px) {
  .cabecalho .container {
    justify-content: space-between;
    font-size: 1em; }

  .cabecalho-nav-bar {
    display: flex;
    flex-direction: initial; }

  .cabecalho-nav-bar a {
    margin-right: 2em; }

  #terapias {
    padding-top: 250px; }

  #paiscuidadores {
    padding-top: 250px; }

  #profissionais {
    padding-top: 250px; }

  #contato {
    padding-top: 250px; }

  .rodape .container {
    width: 90%; } }
/* FONTES*/
/* @import url('https://fonts.googleapis.com/css?family=Raleway');*/
/* Formatacao */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  background-color: #F2F5F7;
  width: 100%; }

body {
  padding: 0; }

p {
  margin: 1em 0;
  line-height: 1.5em; }

h1 {
  margin: 1em 0 .8em;
  font-size: 2.8em;
  text-transform: uppercase; }

h2 {
  margin: 1em 0 .8em;
  font-size: 1.9em; }

h3 {
  margin: 1em 0;
  font-size: 1.5em; }

h4 {
  margin: 1em 0;
  font-size: 1.2em; }

h5 {
  margin: 1em 0;
  font-size: 1em; }

h6 {
  margin: 1em 0;
  font-size: .8em; }

img {
  max-width: 100%; }

a {
  line-height: 1.5em;
  text-decoration: none; }

input {
  width: 100%; }

.titulo {
  font-weight: normal; }

article {
  background-color: #fff;
  padding: .8em 2em 2em 2em;
  border-radius: 0.3em; }

article h2 {
  padding-top: 15px;
  font-weight: normal;
  color: #33cc99; }

article h6 {
  font-weight: bold;
  color: #737373; }

article p {
  font-family: 'helvetica', sans-serif;
  line-height: 1.8em; }

#map {
  width: 100%;
  height: 450px;
  background-color: #a9dbca; }

.fa-facebook,
.fa-instagram {
  font-size: 2em; }

/*# sourceMappingURL=site.css.map */
