/* 1. Cores */
$cor-principal-1: #9900cc;
$cor-principal-2: #33cc99;
$cor-principal-3: #ff6600;
$cor-principal-4: #ffcc00;
$cor-principal-5: #737373;
$cor-principal-6: #000000;

$cor-secundaria-1: #e3b4f4;
$cor-secundaria-2: #a9dbca;
$cor-secundaria-3: #fdb88a;
$cor-secundaria-4: #ffe16a;
$cor-secundaria-5: #d9d9d9;
$cor-secundaria-6: #a6a6a6;

$cor-fundo-pagina: white;
$cor-fundo-cabecalho: red;
$cor-fundo-secao: blue;
$cor-fundo-container: yellow;
$cor-fundo-rodape: gray;




$cor-fundo-conteudo-cartao: #F2F5F7;
$cor-fundo-cartao: white;
$cor-sombra-cartao: #CCC;