/* 5. FLEXBOX */
.container {
  width: 80%;
  margin: 0 auto;
  font-size: 1em;
}
.cabecalho {
  background-color: $cor-fundo-cabecalho;
}
.cabecalho .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $cor-fundo-container;
}
.cabecalho-nav-bar {
  font-weight: normal;
  flex-direction: column;
  font-size: 1.0em;
}
.cabecalho-nav-bar a {

  opacity: .8;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2em;
  color: $cor-principal-3;
}
.cabecalho-nav-bar a:hover {
  opacity: 1;
}
.secao {
  display: flex;
  width: 100%;
  background-color: $cor-fundo-secao;
}
.secao .container {
  margin-top: 60px;
  margin-bottom: 60px;
}
.front {
  @include proporcao-responsiva(16,9);
}
.secao-rodape {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: transparent;
}
.conteudo-cartao {
  display: flex;
  background-color: $cor-fundo-conteudo-cartao;
  flex-wrap: wrap;
}
.cartao {
	background-color: $cor-fundo-cartao;
  height: 100%;
  width: 45%;
	margin: 1%;
	transition: .3s;
	box-shadow: 1px 1px 1px $cor-sombra-cartao;
	position: relative;
}
.cartao-titulo {
  text-align: center;
}
.cartao-subtitulo {
  text-align: center;
  font-size: .8em;
}
.cartao-conteudo {
  margin: 4%;
}

.cartao:nth-child(4n) { /* Quarto filho do elemento*/
  margin-right: 0;
}
.cartao:nth-child(4n+1) { /* Quinto filho do elemento*/
  margin-left: 0;
}
.form-contato {
  line-height: 3em;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.form-contato .campos {
  display: flex;
  flex-flow: column  wrap;
  border: none;
  margin: 20px;
}
.form-contato-botao {
  margin-top: 1em;
	background-color: $cor-principal-2;
  border: 0;
  padding: .6em;
  font-size: 1.2em;
  @include borda-arredondada;
  box-shadow: 0 2px 6.65px 0.35px rgba(0,0,0,0.4);
  font-weight: bold;
  width: 100%;
	color: $cor-link-rodape;
	cursor: pointer;
}
.logo {
  display: block;
  width: 300px;
  height: 192px;
  transform: scale(0.7);
  background: url($logo-300px) center / cover no-repeat;

}
.logo img {
  max-width: 400px;
  min-width: 100px;
}
.logo2 {
  display: none;
}
.progress-bar {
  --progresso: 0;
  height: 2px;
  padding: 0px;
  background-color: $cor-fundo-cabecalho;
  display: flex;
}
.progress-bar::before {
  content: "";
  width: calc(var(--progresso) * 1%);
  background-color: $cor-principal-1; //hsl( calc(var(--progresso) * 1.2) , 80%, 50%); // Arco-iris
  transition: all 0.2s ease;
}
.menu-abrir,
.menu-fechar {
  background: none;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-size: 1.6em;
  text-indent: -999em;
  cursor: pointer;
}
.menu-abrir {
  height: 0;
  width:.75em;
  padding-top:.100em;
  border-top: .375em double $cor-principal-1;
  border-bottom: .125em solid $cor-principal-1;
  vertical-align: middle;
  margin: 0.2em;    
}
.menu-fechar {
    position: relative;
    height: 1.8em;
    width: 1em;
}
.menu-fechar:before {
  content: '\00D7';
  position: absolute;
  color: $cor-principal-1;
  font-size: 1.4em;
  top: 0;
  bottom: 10px;
  left: 0;
  text-indent: 0;
}

.assinatura {
  background-color: $cor-secundaria-1;
  text-align: center;
  font-weight: bold;
  font-size: .8em;
}



@media not all and (max-width: 678px) {
  .menu-abrir,
  .menu-fechar {
      display: none;
  }
  .menu-abrir,
  .menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
  }
  .menu-abrir {
    height: 0;
    width:.75em;
    padding-top:.125em;
    border-top: .375em double $cor-principal-1;
    border-bottom: .125em solid $cor-principal-1;

    vertical-align: middle;
    margin: 0.5em;    
  }
  .menu-fechar {
      position: relative;
      height: 1em;
      width: 1em;
  }

}

/* Celulares até 678px */
@media(max-width: 678px) {
  .btn-inicio{
    display: none;
  }
  
  .cabecalho {
    position: sticky;
    box-shadow: 0px 1px 15px 0px $cor-sombra-cartao;
    top: 0px;
    z-index: $indice-999;
  }
  .cabecalho-nav-bar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background: $cor-fundo-cabecalho;
    padding: 1em;
    margin: 0;
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: $indice-1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
  }
  .cabecalho-nav-bar a {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cartao {
    width: auto;
    min-height: 350px;
    margin-bottom: 20px;
  }
  .conteudo-cartao {
    flex-direction: column;
    justify-content: end;
  }
  .secao-rodape {
    height: auto;
  }
  .logo {
    //width: 72px;
    height: 80px;
    transform: scale(0.4);
    background: url($logo-64px) center / cover no-repeat;
  }
  .logo2 {
    display: block;
    transform: scale(.5);
    width: 90em;
    height: 80px;
    background: url($logo-371px) center / cover no-repeat;
  }

  .menu-ativo .cabecalho-nav-bar {
    left: 0;
  }
  .menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
  }
  #especialidades {
    padding-top: 120px;
  }
  #terapias {
    padding-top: 120px;
  }
  #paiscuidadores{
    padding-top: 120px;
  }
  
  #profissionais{
    padding-top: 120px;
  }
  
  #contato{
    padding-top: 120px;
  }

  .grid-rodape {
    display: grid;
    background-color: $cor-fundo-rodape;
    color: $cor-link-rodape;
    padding: 20px;
    grid-template-areas: "mapa" "social" "endereco";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

}

/* Tablets menor que 678px */
@media (min-width: 678px) {
  .rodape .container {
    width: 95%;
  }
  .cabecalho {
    box-shadow: 0px 6px 25px 0px $cor-sombra-cartao;
    position: sticky;
    top: 0;
    z-index: $indice-999;
  }
  .cabecalho-nav-bar {
    display: flex;
    flex-direction: column;
  }
  .cabecalho-nav-bar a {
    margin-bottom: 10px;
  }
  .logo img {
    width: 200px;
  }
  #especialidades {
    padding-top: 250px;
  }
  #terapias {
    padding-top: 250px;
  }
  #paiscuidadores{
    padding-top: 250px;
  }
  #profissionais{
    padding-top: 250px;
  }
  #contato{
    padding-top: 250px;
  }


}

/* Mobile menor que 1000px */
@media (min-width: 1024px) {
  .cabecalho-nav-bar {
    flex-direction: initial;
    font-size: 1.0em;
  }
}

/* No mínimo 1550px */
@media (min-width: 1550px) {
  .cabecalho .container {
    justify-content: space-between;
    font-size: 1.2em;
  }
  .cabecalho-nav-bar {
    flex-direction: initial;
  }
  .cabecalho-nav-bar a {
    margin-right: 2em;
  }
  #especialidades {
    padding-top: 250px;
  }
  #terapias {
    padding-top: 250px;
  }
  #paiscuidadores{
    padding-top: 250px;
  }
  #profissionais{
    padding-top: 250px;
  }
  #contato{
    padding-top: 250px;
  }
  .rodape .container {
    width: 90%;
  }





}
