/* 3. FLEXBOX */

.container {
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
}
.cabecalho {
  box-shadow: 1px 6px 25px 0px $cor-sombra-cartao;
  background-color: $cor-fundo-cabecalho;
}
.cabecalho .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: space-between;
  align-items: center;
  background-color: $cor-fundo-container;
}
.cabecalho-nav-bar {
	font-weight: bold;
}
.cabecalho-nav-bar a {
  font-size: 1.2em;
  opacity: .8;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2em;
  color: $cor-principal-3;
}
.cabecalho-nav-bar a:hover {
  opacity: 1;
}
.rodape {
  background-color: $cor-fundo-rodape;
  padding: 15px;
}
.rodape .container {
  width: 90%;
  height: 90% ;
}
.rodape-navMap-list {
  display: flex;
  flex-flow: column wrap;
  height: 240px;
}
.rodape a {
  color: $cor-link-rodape;
  margin-top: 0;
}
.rodape h4 {
  color: $cor-link-rodape;
  font-weight: bold;
}
.secao {
  display: flex;
  background-color: $cor-fundo-secao;
  padding: 15px;
}
.secao-rodape {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: transparent;
}
.conteudo-cartao {
  display: flex;
  background-color: $cor-fundo-conteudo-cartao;
  flex-wrap: wrap;
}
.cartao {
	background-color: $cor-fundo-cartao;
  height: 100px;
  width: 23%;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px $cor-sombra-cartao;
	position: relative;
}
.cartao:nth-child(4n) { /* Quarto filho do elemento*/
  margin-right: 0;
}
.cartao:nth-child(4n+1) { /* Quinto filho do elemento*/
  margin-left: 0;
}
// Formulario
.formulario {
 line-height: 3em;
}
.formulario .campos {
  display: flex;
  flex-flow: column  wrap;
  border: none;
  margin: 20px;
}
.formulario .campos label {
  font-weight: bold;
}
.botao-submit {
  outline: 0;
  height: 50px;
  border: 1px solid $cor-principal-2;
  box-sizing: border-box;
  font-size: 1.2em;
  border-radius: 5px;
	background-color: $cor-principal-2;
	color: $cor-link-rodape;
	cursor: pointer;
}

.logo {
  display: block;
}
.logo img {
  max-width: 400px;
  min-width: 100px;
}


/* Celulares até 678px */
@media(max-width: 678px) {

  .cabecalho .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cabecalho-nav-bar {
    display: none;
    flex-direction: column;
  }
  .conteudo-cartao {
    flex-direction: column;
    justify-content: end;
  }
  .cartao {
    width: auto;
    min-height: 350px;
    margin-bottom: 20px;
  }
  .secao-rodape {
    height: auto;
  }
  .logo img {
    width: 320px;
  }
}

/* Tablets menor que 678px */
@media(min-width: 678px) {
  .cabecalho {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .cabecalho-nav-bar {
    display: flex;
    flex-direction: column;
  }
  .cabecalho-nav-bar a {
    margin-bottom: 10px;
  }
  .logo img {
    width: 200px;
  }
}

/* Mobile menor que 1000px */
@media (min-width: 1000px) {
  .cabecalho-nav-bar {
    display: flex;
    flex-direction: initial;
  }
  .cabecalho-nav-bar a {
    margin-right: 1em;
  }

}
