/* ESTILO GERAL */

@import 'cores';

@import 'reset';

@import 'flexbox';

/* FONTES*/
/* @import url('https://fonts.googleapis.com/css?family=Raleway');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

/* Formatacao */

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 62,5%;
  background-color: $cor-fundo-pagina;
  width: 100%;
}
body {
  padding: 0;
}
p {
  margin: 1em 0;
  line-height: 1.5em;
}
h1 {
  margin: 1em 0;
  font-size: 3em;
  text-transform: uppercase;
}
h2 {
  margin: 1em 0;
  font-size: 1.9em;
}
h3 {
  margin: 1em 0;
  font-size: 1.5em;
}
h4 {
  margin: 1em 0;
  font-size: 1.2em;
}
img{
  width: 100%;
}
a {
  line-height: 1.5em;
  text-decoration: none;
}
.titulo {
  font-weight: normal;
}
