//Botão flutuante
.btn-inicio {
  display: none;
  position: fixed;
  bottom:20px;
  right:40px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}
.btn-inicio button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: $cor-secundaria-1;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
    
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.btn-inicio button.main {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: $cor-secundaria-1;
  right: 0;
  bottom: 0;
  z-index: $indice-999;
}



// Google Maps
#map {
  width: 100%;
  height: 600px;
  background-color: $cor-secundaria-2;
}