.contato {
  padding: 4em 8em 4em 8em;
}

.form__contato {
  margin-left: 4em;
  margin-right: 4em;
}

.form__grupo {
  padding: 2em 0 2em 0;
}
.form_contato_label {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
}

.form__contato__input {
  width: 100%;
  color: $cor-texto-campo;
  font-size: 18px;
  background-color: $cor-fundo-campo;
  border: 1px solid $cor-borda-campo;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid $cor-borda-campo;
  border-left: 1px solid $cor-borda-campo;
  text-indent: 10px;
}

.form__contato__textarea {
  width: 100%;
  color: $cor-texto-campo;
  font-size: 18px;
  background-color: $cor-fundo-campo;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid $cor-borda-campo;
  border-left: 1px solid $cor-borda-campo;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: $fonte-site;
}

.form__contato__button {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: $cor-fundo-botao;
  height: 50px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: $cor-principal-2;
  display: block;
  border: none;
  border-bottom: 1px solid $cor-borda-botao;
  border-right: 1px solid $cor-borda-botao;
  transition: .3s;
}

.form__contato__button:hover {
  opacity: 1;
}

.botao-cta {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 18px;
  box-shadow: 1px 1px 5px 0px #000000;
  -webkit-box-shadow: 1px 1px 5px 0px #000000;
  -moz-box-shadow: 1px 1px 5px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
  
.botao-cta:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}