
// LAYOUT PRINCIPAL

.app {
  background: $cor-fundo-pagina;
  font-family: $fonte-site;
  display: grid;
  grid-template-areas:
      "cabecalho"
      "conteudo"
      "rodape";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.cabecalho {
  grid-area: cabecalho;
  background-color: $cor-fundo-cabecalho;
  position: sticky;
  box-shadow: 0px 1px 15px 0px $cor-sombra-cartao;
  top: 0px;
  z-index: $indice-999;
}

.hero {
  max-width: 100%;
  min-width: 100%;
}

.conteudo {
  grid-area: conteudo;
}

.rodape {
  background: $cor-fundo-rodape;
  color: $cor-link-rodape;
  grid-area: rodape;
  padding: 1rem;
}

.assinatura {
  background-color: $cor-secundaria-1;
  text-align: center;
  padding: 2em;
  font-weight: bold;
  font-size: .8em;
}
.card__artigo {
  display: grid;
  margin-bottom: 100px;
}
.card__artigo__texto {
  grid-area: card-texto;
  vertical-align: top;
}
.card__artigo__texto--margem {
  margin: 0 40px 30px 0px;
}
.card__artigo__imagem {
  grid-area: card-imagem;
}

#quemsomos,
#especialidades,
#terapias,
#profissionais,
#paiscuidadores,
#contato {
  padding-top: 240px;
}

.erros {
  background-color: $cor-fundo-container;
  padding: 40px;
  text-align: center;
}