// Responsividade do site


// Telas maiores que 0px - CELULARES
@media screen and (min-width: 0) {
  .cabecalho__grid-cabecalho {
    grid-template-areas: "menu logo-medio";
    grid-template-columns: 10% 90%;
  }
  .cabecalho__nav-bar nav {
    display: flex;
    flex-direction: column;
  }
  .cabecalho__nav-bar a {
    padding: 0em 0em 1em 0em;
  }
  .cabecalho__nav-bar {
    display: flex;
    grid-area: navbar;
    flex-direction: column;
    align-content: space-between;
    background: $cor-fundo-cabecalho;
    margin: 0;
    z-index: 1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
    padding: 1em;
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
  }
  .cabecalho__menu-abrir {
    grid-area: menu;
    margin-left: 20px;
  }
  .cabecalho__menu-abrir,
  .cabecalho__menu-fechar {
    display: block;
  }
  .cabecalho__logo-grande {
    display: none;
  }
  .cabecalho__logo-medio {
    grid-area: logo-medio;
    transform: scale(0.8);
    justify-items: start;
    display: block;
  }
  .form__contato {
    margin-left: 1em;
    margin-right: 1em;
  }
  .rodape__grid-rodape {
    grid-template-areas:
    "mapa"
    "social"
    "endereco";
    grid-template-columns: 100%;
    text-align: center;
  }
  .profissionais__conteudo {
    flex-direction: column;
  }
  .quemsomos, .especialidades, .terapias,
   .profissionais, .paisecuidadores,
   .contato, .comochegar {
    padding: 2em 4em 2em 4em;
  }
  .card__artigo {
    grid-template-columns: 100%;
    grid-template-areas:
     "card-texto"
     "card-imagem";
  }
  
}

// Telas maiores que 768px - TABLETS
@media screen and (min-width: 768px) {
  .cabecalho__grid-cabecalho {
    grid-template-areas: "menu logo-medio";
    grid-template-columns: 10% 90%;
  }
  .cabecalho__nav-bar nav {
    display: flex;
    flex-direction: column;
  }
  .cabecalho__nav-bar a {
    padding: 0em 0em 1em 0em;
  }
  .cabecalho__menu-abrir {
    grid-area: menu;
    margin-left: 20px;
  }
  .cabecalho__menu-abrir,
  .cabecalho__menu-fechar {
    display: block;
  }
  .cabecalho__logo-grande {
    display: none;
  }
  .cabecalho__logo-medio {
    grid-area: logo-medio;
    transform: scale(0.8);
    display: block;
  }
  .menu-ativo .cabecalho__nav-bar {
      left: 0;
  }
  .rodape__grid-rodape {
    grid-template-areas:
    "mapa"
    "social"
    "endereco";
    grid-template-columns: 100%;
    text-align: center;
  }
  .profissionais__conteudo {
    flex-direction: column;
  }
  
  
  
}

// Telas maiores que 992px - DESKTOPS
@media screen and (min-width: 992px) {
  .cabecalho__grid-cabecalho {
    background-color: $cor-fundo-container;
    display: grid;
    align-items: center;
    grid-template-areas: "logo navbar";
    grid-template-columns: 20% 80%;
  }
  .cabecalho__nav-bar nav {
    display: flex;
    flex-direction: row;
  }
  .cabecalho__nav-bar {
    grid-area: navbar;
    align-items: center;
    flex-direction: initial;
    background: none;
    text-align: right;
    padding: 0;
    width: 100%;
    max-width: 100%;
    position: initial;
  }
  .cabecalho__menu-abrir,
  .cabecalho__menu-fechar {
    display: none;
  }
  .cabecalho__logo-grande {
    display: block;
  }
  .rodape__grid-rodape {
    grid-template-areas: "mapa social endereco";
    grid-template-columns: 33.33% 33.33% 33.33%; //três colunas de largura automáticas
    grid-template-rows: auto;
    text-align: left;
  }

  .profissionais__cartao {
    margin-right: 3em;
    width: calc(50% - 3em);
  }
  .profissionais__conteudo {
    flex-direction: row;
  }
  .card__artigo {
    grid-template-areas: "card-texto card-imagem";
    grid-template-columns: 50% 50%;
  }

  .gallery__box-foto-1__titulo {
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-align: left;
  }
  
  .gallery__box-foto-1__subtitulo {
    font-size: 3vh;
    font-weight: bold;
    color: #9900cc;
    text-align: left;
  
  }
  
  .gallery__box-foto-2__titulo {
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-align: left;
  }
  
  .gallery__box-foto-2__subtitulo {
    font-size: 3vh;
    font-weight: bold;
    color: #ffcc00;
    text-align: left;
  }
  
  .gallery__box-foto-3__titulo {
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-align: left;
  }
  
  .gallery__box-foto-3__subtitulo {
    font-size: 3vh;
    font-weight: bold;
    color: #9900cc;
    text-align: left;
  }
  
  .gallery__box-foto-4__titulo {
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-align: left;
  }
  
  .gallery__box-foto-4__subtitulo {
    font-size: 2vh;
    font-weight: bold;
    color: #9900cc;
    text-align: left;
  }
  
  .gallery__box-foto-5__titulo {
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-align: left;
  }
  
  .gallery__box-foto-5__subtitulo {
    font-size: 2vh;
    font-weight: bold;
    color: #ffe16a;
    text-align: left;
  }


}

// Telas maiores que 1200px - DESKTOPS NOVOS E TVS
@media screen and (min-width: 1280px) {

  .container {
    display: flexbox;
    align-items: center;
    width: 1280px;
  }

  .cabecalho__grid-cabecalho {
    grid-template-areas: "logo navbar";
    grid-template-columns: 20% 80%;
  }
  .cabecalho__nav-bar nav {
    display: flex;
    flex-direction: row;
  }
  .cabecalho__nav-bar {
    grid-area: navbar;
    align-items: center;
    font-size: 1.2em;
    background: none;
    width: 100%;
    max-width: 100%;
    position: initial;
  }
  .cabecalho__menu-abrir,
  .cabecalho__menu-fechar {
    display: none;
  }
  .cabecalho__logo-grande {
    display: block;
  }
  .cabecalho__logo-pequeno {
    display: none;
  }
  .cabecalho__logo-medio {
    display: none;
  }
  .profissionais__cartao {
    margin-bottom: 0;
  }
  .quemsomos, .especialidades, .terapias,
  .profissionais, .paisecuidadores,
  .contato, .comochegar {
    padding: 6em 10em 6em 10em;
  }

}
