// Grid do rodapé

.rodape__grid-rodape {
  display: grid;
  background-color: $cor-fundo-rodape;
  color: $cor-link-rodape;
  padding: .5em;
  grid-template-areas: "mapa social endereco";
  grid-template-columns: 33.33% 33.33% 33.33%; //três colunas de largura automáticas
  grid-template-rows: auto;
}

.rodape__grid-rodape a {
  color: $cor-link-rodape;
}
.rodape__grid-rodape p {
  font-size: 1em;
  color: $cor-link-rodape;
  margin: .5em;
  line-height: 1em;
}
.rodape__grid-rodape h3 {
  color: $cor-link-rodape;
  font-weight: bold;
}
.rodape__grid-rodape__box-mapa {
  grid-area: mapa;
  padding: 1em 1em;
  
}
.rodape__grid-rodape__box-social {
  grid-area: social;
  padding: 1em 1em;
}
.rodape__grid-rodape__box-social li { 
  display: inline-block;
  padding: 4px;
}
.rodape__grid-rodape__box-endereco {
  grid-area: endereco;
  padding: 1em 1em;
}